<!-- Footer strat -->
  <footer class="footer" id="footer">
    <div class="foo-top">
      <div class="container">
        <div class="row  footer-scroll" >
          
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="widget foo-nav">
                  <h5>Follow Us</h5>
                  <ul>
                    <!-- <li><a href="#">Blog</a></li> -->
                    <li><a href="https://www.facebook.com/kbdaehan" target="_blank">Facebook</a></li>
                    <li><a href="https://www.instagram.com/kbdaehanbank/" target="_blank">Instagram</a></li>
                    <li><a href="https://www.linkedin.com/company/kb-daehan-specialized-bank-plc/" target="_blank">Linkin</a></li>
                    <li><a href="https://www.youtube.com/channel/UCWJm93xT5WzZTnz2LIAutuQ" target="_blank">Youtube</a></li>
                    <!-- <li><a href="#">Twitter</a></li> -->
                  </ul>
                </div>
              </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="widget foo-nav">
              <h5>K-easy</h5>
              <ul>
                <li><a href="#top">Download</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
           <div class="widget foo-nav">
              <h5>Help Center</h5>
              <ul>
                <li><a href="#contact">Contact Us</a></li>
              </ul>
            </div> 
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="widget foo-address">
              <h5>Head Office</h5>
              <address>
                <a href="mailto:info@kdsb.com.kh">info@kdsb.com.kh</a><br/>
                <a href="tel:+85523991555">+855 23 991 555</a><br/>
              </address>
              <address>
                 Building No. 1, 7th, 21st and 22nd Floor, Street No. 360, Phum Phum 8, Sangkat Boeng Keng Kang Ti Muoy, Boeng Keng Kang, Phnom Penh
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="foo-btm">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center" >
            <div class="copyright">KDSB &copy; - 2020</div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer end -->