<!-- Header start -->
  <header class="header">
    <div class="container d-flex align-items-center">
      <a class="logo" th:href="@{/}">
        <img th:src="@{images/logo.svg}" alt="" >
      </a>
      <nav class="primary-menu text-md-right">
        <a id="mobile-menu-toggler" href="#"><i class="fas fa-bars"></i></a>
        <ul>
          <li class=" current-menu-item"><a class="active" href="#top">Home</a>
          </li>
          <li ><a href="#about">About</a></li>
          <li><a href="#ourproduct">Our Products</a><li>
          <!--<li class="has-menu-child"><a href="#ourproduct">Our Products</a>
              <ul class="sub-menu">
                <li><a href="#">Car Loan</a></li>
                <li><a href="#">Housing Loan</a></li>
                <li><a href="#">Corperate Loan</a></li>
                <li><a href="#">Credit Card</a></li>
              </ul>
          </li>-->
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- Header end -->